/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/
/DegDeganApp/nbproject/private/
/DegDeganApp/build/
/PythagorasProject/nbproject/private/
/PythagorasProject/build/
/GameTebakAngkaProject/nbproject/private/
/GameTebakAngkaProject/build/
/ProjectRerata/nbproject/private/
/ProjectRerata/build/
/ProjectRerataV2/nbproject/private/
/ProjectRerataV2/build/
/SimpleArrayList/nbproject/private/
/SimpleArrayList/build/
/ProjectSIAKAD/nbproject/private/
/ProjectSIAKAD/build/
/Projectbangun/nbproject/private/
/Projectbangun/build/
/RentalConsole/nbproject/private/
/RentalConsole/build/
/RentalConsoleMK2/build/
/RentalConsoleMK2/nbproject/private/
/Praktikum 8/RentalConsoleMK2/build/
/Praktikum 8/RentalConsoleMK2/nbproject/private/
/Bangundatar/nbproject/private/
/Bangundatar/build/
/ProjectBangun/nbproject/private/
/ProjectBangun/build/
/BahanBakar/nbproject/private/
/BahanBakar/build/
Praktikum 8/RentalConsoleMK2/nbproject/project.xml
Praktikum 8/RentalConsoleMK2/build.xml
